.customers {
  padding: 32px 44px;
  @media screen and (min-width: 576px) {
    padding: 44px 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 44px 42px;
  }
  @media screen and (min-width: 992px) {
    padding: 88px 52px;
  }
  @media screen and (min-width: 1224px) {
    padding: 88px 62px;
  }
}

.customers_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h2 {
    font-family: $TuskerGrotesk;
    font-weight: 800;
    text-transform: uppercase;
    color: $accentColor;
    font-size: clamp(18px, 2.6rem, 22px);
  }
}

.customers_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin-top: 40px;
  @media screen and (min-width: 576px) {
    justify-content: center;
    max-width: none;
    column-gap: 20vw;
    max-width: 1000px;
  }
  @media screen and (min-width: 1224px) {
    margin-top: 80px;
  }
  & li {
    overflow: hidden;
    & img {
      height: auto;
      width: 40px;
      min-width: 35px;
      @media screen and (min-width: 1224px) {
        width: 65px;
      }
    }
  }
}
