.process {
  width: 100%;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 26px;
    background-color: $accentColor;
    color: $backgroundColor;
    border-bottom: 2px solid $backgroundColor;
    border-top: 2px solid $backgroundColor;
    & h1 {
      font-family: $TuskerGrotesk;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $backgroundColor;
      @media screen and (min-width: 992px) {
        font-size: 22px;
      }
    }
    a {
      font-family: $RivalSans;
      font-size: 11px;
      text-transform: uppercase;
    }
    @media screen and (min-width: 576px) {
      padding: 10px 32px;
    }
    @media screen and (min-width: 768px) {
      padding: 12px 42px;
    }
    @media screen and (min-width: 992px) {
      padding: 12px 52px;
    }
    @media screen and (min-width: 1224px) {
      padding: 12px 62px;
    }
  }
  &__list {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 62px;
    padding: 44px 26px;
    @media screen and (min-width: 768px) {
      display: grid;
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 80px;
      grid-column-gap: 80px;
      padding: 44px 42px;
      & li.firststep {
        grid-area: 1 / 1 / 2 / 2;
      }
      & li.secondstep {
        grid-area: 1 / 2 / 2 / 3;
      }
      & li.thirdstep {
        grid-area: 2 / 1 / 3 / 2;
      }
      & li.fourthstep {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
    @media screen and (min-width: 992px) {
      padding: 88px 52px;
      grid-row-gap: 122px;
    }
    @media screen and (min-width: 1224px) {
      padding: 88px 130px;
    }
  }
  &__step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }
    & h3 {
      font-weight: 700;
      color: $accentColor;
      text-transform: uppercase;
      font-family: $RivalSans;
      font-size: clamp(16px, 2.4rem, 24px);
      padding-top: 10px;
      text-align: center;
      @media screen and (min-width: 768px) {
        text-align: left;
        padding-top: 14px;
      }
    }
    & p {
      font-weight: 500;
      color: $color1;
      font-size: clamp(14px, 2rem, 20px);
      text-align: center;
      padding-top: 2px;
      line-height: 1.4;
      max-width: 400px;
      @media screen and (min-width: 768px) {
        text-align: left;
        max-width: 650px;
        padding-top: 6px;
      }
    }
    &__icon {
      $size: 50px;
      width: $size;
      height: $size;
      border: 2px solid $accentColor;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      @media screen and (min-width: 992px) {
        $size: 60px;
        width: $size;
        height: $size;
        & svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
