.contact_container {
  padding: 44px 24px;
  background-color: #6b4525;
}

.contact_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & p {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #ddb892;
    margin-bottom: 20px;
    white-space: nowrap;
    @media screen and (min-width: 1224px) {
      font-size: 54px;
      line-height: 74px;
    }
  }
  & button {
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #785436;
    padding: 6px 12px;
    background: #ede0d4;
    border-radius: 4px;
    @media screen and (min-width: 1224px) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
