.customers {
  padding: 44px 26px;
}

.customers_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // @media screen and (min-width: 1224px) {
  //   padding: 100px 30px;
  // }
  & h2 {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #785436;
    opacity: 0;
    @media screen and (min-width: 1224px) {
      font-size: 24px;
      line-height: 33px;
    }
  }
}

.customers_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin-top: 40px;
  @media screen and (min-width: 576px) {
    justify-content: center;
    max-width: none;
    column-gap: 20vw;
    max-width: 1000px;
  }
  @media screen and (min-width: 1224px) {
    margin-top: 80px;
  }
  & li {
    overflow: hidden;
    & img {
      height: auto;
      width: 45px;
      min-width: 35px;
      opacity: 0;
      @media screen and (min-width: 1224px) {
        width: 70px;
      }
    }
  }
}
