.getintouch {
  padding: 26px;
  background-color: $color1;
  @media screen and (min-width: 1224px) {
  }
}

.getintouch_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & span {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 4px;
    @media screen and (min-width: 1224px) {
      margin-bottom: 30px;
    }
    & p {
      display: flex;
      font-weight: 800;
      font-size: clamp(20px, 5vw, 38px);
      text-align: center;
      color: $backgroundColor;
      white-space: nowrap;
      opacity: 0;
    }
  }

  & button {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid $backgroundColor;
    border-radius: 4px;
    opacity: 0;
    padding: 6px 12px;
    & div {
      & p {
        color: $backgroundColor;
        white-space: nowrap;
      }
    }

    @media screen and (min-width: 1224px) {
      font-size: 14px;
      line-height: 19px;
      padding: 8px 18px;
    }
  }
}
