.landing {
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $backgroundColor;
  min-height: 600px;
  @media screen and (min-width: 576px) {
    margin-top: 83px;
  }
  .landing_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.landing_title {
  position: relative;
  margin-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  & h1 {
    font-weight: 800;
    font-size: min(19vw, 320px);
    text-transform: uppercase;
    color: $accentColor;
    text-align: center;
    font-family: $TuskerGrotesk;
    line-height: 1;
  }
  & h2 {
    font-family: $TuskerGrotesk;
    font-style: normal;
    font-weight: 800;
    font-size: min(4vw, 64px);
    text-transform: uppercase;
    color: $accentColor;
  }
}

.landing_location {
  width: 91vw;
  max-width: 1534px;
  font-family: $RivalSans;
  color: $accentColor;
  .landing_location_content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #6c5347;
    & div:last-child {
      text-align: right;
    }
  }
  & h5 {
    font-weight: 600;
    font-size: clamp(14px, 3.5vw, 20px);
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  & p {
    font-weight: 400;
    font-size: clamp(12px, 3vw, 16px);
  }
}
