.landing {
  margin-top: 60px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 576px) {
    margin-top: 83px;
  }
  & h1 {
    font-weight: 800;
    font-size: 18vw;
    text-transform: uppercase;
    color: #6c5347;
    text-align: center;
  }
}
