section#mobilier {
  margin-top: 122px;
  height: 200vh;
  padding: 0 32px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
  }
  @media screen and (min-width: 1224px) {
    padding: 0 120px;
    margin-top: 78px + 118px;
  }
}

.active {
  color: #c9986d !important;
}

.backcatalogue li {
  font-family: "Manrope";
  font-weight: 800;
  text-transform: uppercase;
  color: #785436;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  @media screen and (min-width: 1224px) {
    font-size: 20px;
    line-height: 28px;
  }
}

ul.moby {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 60px;
  @media screen and (min-width: 1224px) {
    justify-content: space-between;
    row-gap: 200px;
  }
  & li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    @media screen and (min-width: 1224px) {
      width: 45%;
    }
    & img {
      width: 100%;
    }
    & h3 {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      text-transform: uppercase;
      color: #785436;
      padding-bottom: 2px;
      @media screen and (min-width: 1224px) {
        font-size: 20px;
      }
    }
    & p {
      font-family: "Manrope";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #785436;
      @media screen and (min-width: 1224px) {
        font-size: 16px;
      }
    }
    &:nth-child(1) {
      // margin-top: 200px;
    }
  }
}
