section#mobilier {
  margin-top: 122px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
  }
  @media screen and (min-width: 1224px) {
    padding: 0 120px;
    margin-top: 78px + 118px;
  }
}

.active {
  color: #c9986d !important;
}

.backcatalogue li {
  font-family: "Manrope";
  font-weight: 800;
  text-transform: uppercase;
  color: #785436;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  @media screen and (min-width: 1224px) {
    font-size: 20px;
    line-height: 28px;
  }
}

ul.gallerie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 60px;
  padding: 0 24px;
  @media screen and (min-width: 1224px) {
    justify-content: space-between;
    row-gap: 200px;
  }
  & li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      width: 45%;
    }
    & img {
      width: 100%;
    }
    & h3 {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      text-transform: uppercase;
      color: #785436;
      @media screen and (min-width: 1224px) {
        font-size: 20px;
      }
    }
    & p {
      font-family: "Manrope";
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: #785436;
      @media screen and (min-width: 1224px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.forest_container {
  position: relative;
  height: 120px;
  width: 100%;
  background-color: #2A201E;
  @media screen and (min-width: 576px) {
    height: 160px;
  }
  @media screen and (min-width: 768px) {
    height: 200px;
  }
  @media screen and (min-width: 992px) {
    height: 200px;
  }
  @media screen and (min-width: 1224px) {
    height: 400px;
  }
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

