.question {
  width: 100%;
  padding: 44px 26px;
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    & li {
      cursor: pointer;
      border-bottom: solid 2px rgba(24, 16, 2, 0.562);
      & .question_content {
        // background: #785436;
        padding: 18px 0;
        border-radius: 3px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        & svg {
          transition: 0.5 ease-out;
        }
        & h3 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #38291a;
        }
      }
      &.question_active {
        & .question_content {
          & svg {
            transform: rotate(90deg);
          }
        }
      }
      & p {
        padding-bottom: 14px;
        font-size: 14px;
        font-weight: 500;
        color: #512c0b;
      }
    }
  }
}

.open {
  transition: all 0.2s ease;
  transform: translateY(0);
}
.open.closed {
  transform: translateY(-100%);
  overflow: hidden;
}

.title_content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.secondtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #6c5347;
  line-height: 20px;
}
