.question {
  width: 100%;
  padding: 44px 26px;
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    @media screen and (min-width: 992px) {
      margin-top: 88px;
    }
    & li {
      cursor: pointer;
      border-bottom: solid 2px rgba(80, 52, 3, 0.671);
      position: relative;
      overflow: hidden;
      &:first-child {
        border-top: solid 2px rgba(80, 52, 3, 0.671);
      }
      & .question_content {
        padding: 18px 0;
        border-radius: 3px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media screen and (min-width: 992px) {
          padding: 22px 0;
        }
        & svg {
          margin-left: 20px;
          position: relative;
          z-index: 1;
          flex: 0 0 16px;
          transition: transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
        }
        & h4 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          color: #563213;
          position: relative;
          z-index: 1;
          font-size: clamp(16px, 2.2rem, 20px);
        }
      }
      & p {
        position: relative;
        z-index: 1;
        font-size: clamp(14px, 2rem, 17px);
        font-weight: 500;
        color: #563213;
        height: 0;
        transition: height 0.45s cubic-bezier(0.16, 1, 0.3, 1),
          padding-bottom 0.45s cubic-bezier(0.16, 1, 0.3, 1),
          opacity 0.25s ease-out;
      }
      &.question_active {
        & .question_content svg {
          transform: rotate(90deg);
        }
        & p {
          height: auto;
          padding-bottom: 18px;
          opacity: 1;
          @media screen and (min-width: 992px) {
            padding-bottom: 22px;
          }
        }
      }

      & .question_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        height: 0%;
        z-index: 0;
        transition: height 0.8s cubic-bezier(0.16, 1, 0.3, 1),
          border-radius 0.8s cubic-bezier(0.16, 1, 0.3, 1);
        opacity: 0.4;
        border-radius: 50% 50% 0% 0%;
        background-color: #e0b07f;
      }
      &:hover .question_overlay {
        border-radius: 0%;
        height: 100%;
      }
      &.question_active .question_overlay {
        height: 0%;
      }
    }
  }
}

.title_content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.secondtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #6c5347;
  line-height: 20px;
}
