.question {
  width: 100%;
  padding: 44px 26px;
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 44px;
    & li {
      color: #ede0d4;
      cursor: pointer;
      & .question_content {
        background: #78481E;
        padding: 18px 14px;
        border-radius: 3px;
        & h3 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
        }
      }
      &.question_active {
        & .question_content {
          background: #E0B07F;
          & h3 {
            color: #512c0b;
          }
        }
      }
      & p {
        padding: 18px 14px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #512c0b;
      }
    }
  }
}

.open {
  transition: all 0.2s ease;
  transform: translateY(0);
}
.open.closed {
  transform: translateY(-100%);
  overflow: hidden;
}

.title_content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.secondtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #6c5347;
  line-height: 20px;
}
