.release {
  width: 100%;
  // margin-bottom: clamp(44px, 11rem, 104px);
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 26px;
    background-color: $accentColor;
    color: $backgroundColor;
    & h1 {
      font-family: "Tusker Grotesk";
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $backgroundColor;
    }
    a {
      font-family: $RivalSans;
      font-size: 11px;
      text-transform: uppercase;
    }
    @media screen and (min-width: 576px) {
      padding: 0px 32px;
    }
    @media screen and (min-width: 768px) {
      padding: 0 42px;
    }
    @media screen and (min-width: 992px) {
      padding: 0 52px;
    }
    @media screen and (min-width: 1224px) {
      padding: 0 62px;
    }
  }
  &__category {
    width: 100%;
    &__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid $accentColor;
      & a {
        height: 100%;
        width: 100%;
        padding: 16px 26px;
      }
      & p {
        font-family: $RivalSans;
        font-size: 22px;
        text-transform: uppercase;
        color: $accentColor;
        font-weight: 500;
      }
    }
  }
}

// .release_category {
//   width: 100%;
// padding: clamp(44px, 11rem, 104px) 26px;
//   @media screen and (min-width: 768px) {
//     // padding: 44px 26px;
//     display: flex;
//     justify-content: space-between;
//     grid-column-gap: 6px;
//     padding: clamp(44px, 11rem, 104px) 26px;
//   }
//   @media screen and (min-width: 992px) {
//     grid-column-gap: 12px;
//   }
//   @media screen and (min-width: 1224px) {
//     grid-column-gap: 18px;
//     padding: clamp(44px, 11rem, 104px) 62px;
//   }
// }
