.reviews {
  background-color: #2a201e;
  color: #ede0d4;
  min-height: 500px;
  overflow: hidden;
}
.reviews_content {
  height: 100%;
  width: 100%;
  background: url("../../assets/share/woodlines.webp") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: clamp(44px, 11rem, 104px) 26px;
  & h2 {
    font-weight: 800;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0;
    font-size: clamp(18px, 2.6rem, 22px);
  }
}

.reviews_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  & .reviews_quote {
    padding: 24px 0 40px 0;
    & svg {
      height: clamp(16px, 2.2rem, 24px)
    }
  }
  & .reviews_paragraph p {
    font-size: clamp(16px, 2rem, 20px);
    font-weight: 500;
    text-align: center;
    color: #ede0d4;
    max-width: 650px;
    margin-bottom: 40px;
    @media screen and (min-width: 1224px) {
      max-width: 800px;
    }
  }
}

.reviews_customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & img {
    height: 50px;
    width: auto;
    transition: transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
    &:hover {
      transform: scale(1.15);
    }
    @media screen and (min-width: 1224px) {
      height: 80px;
    }
  }
  & div:nth-child(2) {
    margin-top: 15px;
    overflow: hidden;
    & h4 {
      font-weight: 800;
      font-size: 18px;
      color: #ede0d4;
    }
    @media screen and (min-width: 1224px) {
      font-size: 22px;
      line-height: 30px;
      margin-top: 25px;
    }
  }
  & div:nth-child(3) {
    margin-top: 5px;
    overflow: hidden;
    & h5 {
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      color: #8e5f31;
    }
    @media screen and (min-width: 1224px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.reviews_circles {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.reviews_circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4e3d3a;
  margin: 0 5px;
  cursor: pointer;
  &.active {
    background-color: #ede0d4;
  }
}


