::-moz-selection {
  background: var(--primary_color);
  text-shadow: none;
}
::selection {
  background: var(--primary_color);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #faf7ee;
}

::-webkit-scrollbar-thumb {
  background: #e1d2c1;
  border-radius: 15px;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    background-color: $backgroundColor;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media screen and (max-width: 1400px) {
    font-size: 58%;
  }
  @media screen and (max-width: 1224px) {
    font-size: 52%;
  }
  @media screen and (max-width: 992px) {
    font-size: 46%;
  }
  @media screen and (max-width: 768px) {
    font-size: 40%;
  }
  @media screen and (max-width: 576px) {
    font-size: 34%;
  }
  @media screen and (max-width: 321px) {
    font-size: 28%;
  }
}

main {
  position: absolute;
  top: calc(100vh + 44px);
  left: 0;
  right: 0;
  background-color: #ede0d4;
  z-index: 2;
  padding-top: 44px;
  @media screen and (min-width: 768px) {
    top: calc(100vh + 116px);
  }
}

.title {
  font-weight: 800;
  font-size: clamp(26px, 8rem, 74px);
  text-transform: uppercase;
  color: #6c5347;
}

.subtitle {
  letter-spacing: 0.05em;
  color: #d9a672;
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(12px, 1.8rem, 18px);
}

.introduction {
  font-weight: 500;
  color: #785436;
  max-width: 1000px;
  text-align: start;
  font-size: clamp(14px, 2rem, 18px);
}

.introduction_container {
  margin: 24px 0 44px;
}

.hidden {
  overflow: hidden;
}

.opacity {
  opacity: 0;
}

.fit-content {
  width: fit-content;
}

.border {
  height: 2px;
  background-color: #785436;
}

.circle {
  border-radius: 50%;
}

svg.active {
  transform: rotate(90deg) !important;
  & path {
    fill: #c9986d;
  }
}

.scroll_btn {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: bottom 0.2s ease-out, opacity 0.5s;
}
