::-moz-selection {
  background: var(--primary_color);
  text-shadow: none;
}
::selection {
  background: var(--primary_color);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #faf7ee;
}

::-webkit-scrollbar-thumb {
  background: #e1d2c1;
  border-radius: 15px;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    background-color: $backgroundColor;
    font-family: $RivalSans;
    font-size: 1.6rem;
  }
}

html {
  font-size: 62.5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media screen and (max-width: 1400px) {
    font-size: 58%;
  }
  @media screen and (max-width: 1224px) {
    font-size: 52%;
  }
  @media screen and (max-width: 992px) {
    font-size: 46%;
  }
  @media screen and (max-width: 768px) {
    font-size: 40%;
  }
  @media screen and (max-width: 576px) {
    font-size: 34%;
  }
  @media screen and (max-width: 321px) {
    font-size: 28%;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

main {
  position: absolute;
  top: calc(100vh + 44px);
  left: 0;
  right: 0;
  background-color: $backgroundColor;
  @media screen and (min-width: 768px) {
    top: calc(100vh + 116px);
  }
}

.title {
  font-weight: 800;
  font-size: clamp(26px, 8rem, 74px);
  text-transform: uppercase;
  color: #6c5347;
}

.introduction {
  font-weight: 500;
  color: #785436;
  max-width: 1000px;
  text-align: start;
  font-size: clamp(14px, 2rem, 18px);
}

.introduction_container {
  // margin: 24px 0 44px;
  margin: 24px 0 0;
}

.hidden {
  overflow: hidden;
}

.opacity {
  opacity: 0;
}

.fit-content {
  width: fit-content;
}

.border {
  height: 2px;
  background-color: #785436;
}

.circle {
  border-radius: 50%;
}

svg.active {
  transform: rotate(90deg) !important;
  & path {
    fill: #c9986d;
  }
}

.scroll_btn {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: bottom 0.2s ease-out, opacity 0.5s;
}

.section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 26px;
  background-color: $accentColor;
  color: $backgroundColor;
  border-bottom: 2px solid $backgroundColor;
  border-top: 2px solid $backgroundColor;
  &__title {
    font-family: $TuskerGrotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: $backgroundColor;
    & div {
      transform: translateY(100%);
      transition: transform 0.55s cubic-bezier(0.33, 1, 0.68, 1);
    }
    &--visible {
      & div {
        transform: translateY(0);
      }
    }
    @media screen and (min-width: 992px) {
      font-size: 24px;
    }
  }
  &__link {
    display: inline-flex;
    align-items: baseline;
    &:hover {
      & svg {
        &:first-child {
          transform: translateX(20px);
          @media screen and (min-width: 992px) {
            transform: translateX(110%);
          }
        }
        &:last-child {
          transform: translateX(0);
        }
      }
    }
    span {
      font-family: $RivalSans;
      font-size: 14px;
      text-transform: uppercase;
      color: $backgroundColor;
    }
  }

  @media screen and (min-width: 576px) {
    padding: 10px 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 12px 42px;
  }
  @media screen and (min-width: 992px) {
    padding: 12px 52px;
  }
  @media screen and (min-width: 1224px) {
    padding: 12px 62px;
  }
}

.slide-in {
  position: fixed;
  min-height: -webkit-fill-available;
  height: calc(100% + $safe_area_inset_top);
  inset: 0;
  background-color: $color1;
  width: 100%;
  transform-origin: bottom;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    height: 80px;
    width: auto;
  }
}

.slide-out {
  position: fixed;
  min-height: -webkit-fill-available;
  height: calc(100% + $safe_area_inset_top);
  inset: 0;
  background-color: $color1;
  width: 100%;
  transform-origin: top;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    height: 80px;
    width: auto;
  }
}
