::-moz-selection {
  background: var(--primary_color);
  text-shadow: none;
}
::selection {
  background: var(--primary_color);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #faf7ee;
}

::-webkit-scrollbar-thumb {
  background: #e1d2c1;
  border-radius: 15px;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    height: calc(100% + $safe_area_inset_top);
    background-color: $backgroundColor;
    font-family: "Manrope", sans-serif;
  }
}

.title {
  font-weight: 800;
  font-size: max(11.5vw, 38px);
  text-transform: uppercase;
  color: #6c5347;
  @media screen and (min-width: 1224px) {
    font-size: 110px;
    line-height: 151px;
  }
}

.subtitle {
  font-size: max(2vw, 12px);
  letter-spacing: 0.05em;
  color: #d9a672;
  font-weight: 800;
  text-transform: uppercase;
  @media screen and (min-width: 1224px) {
    font-size: 24px;
    line-height: 33px;
  }
}

.introduction {
  font-weight: 500;
  color: #785436;
  max-width: 1200px;
  text-align: start;
  font-size: 14px;
  @media screen and (min-width: 576px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 24px 0 48px;
    font-size: 16px;
  }
  @media screen and (min-width: 992px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1224px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.introduction_container {
  margin: 24px 0 48px;
}

.hidden {
  overflow: hidden;
}

.opacity {
  opacity: 0;
}

.fit-content {
  width: fit-content;
}

.border {
  height: 2px;
  background-color: #785436;
}