$backgroundColor: #fff0e0;
$accentColor: #4e2705;
$color1: #301702;
$color2: #f1af76;
$color3: #a66c34;
$TuskerGrotesk: "Tusker Grotesk";
$RivalSans: "Rival Sans";

$titleColor: #6c5347;
$primaryColor: #745033;
$secondaryColor: #ddb892;
$activeColor: #c9986d;
$ManropeRegular: "Manrope Regular";
$safe_area_inset_top: env(safe-area-inset-top);

:export {
  backgroundColor: $backgroundColor;
  primaryColor: $primaryColor;
}
