$backgroundColor: #EDE0D4;
$titleColor: #6C5347;
$primaryColor: #745033;
$secondaryColor: #DDB892;
$activeColor: #C9986D;
$ManropeRegular: "Manrope Regular";
$safe_area_inset_top: env(safe-area-inset-top);

:export {
  backgroundColor: $backgroundColor;
  primaryColor: $primaryColor;
}