$background_color: #EDE0D4;
$title_color: #6C5347;
$primary_color: #745033;
$secondary_color: #DDB892;

:export {
  backgroundColor: $background_color;
  titleColor: $title_color;
  primaryColor: $primary_color;
  secondaryColor: $secondary_color;
}