footer {
  padding: 14px 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: $RivalSans;
  @media screen and (min-width: 768px) {
    padding: 24px 24px;
  }
  & p {
    font-weight: 500;
    font-size: 12px;
    font-size: clamp(12px, 1.6rem, 16px);
    color: $accentColor;
    flex: 1;
    @media screen and (min-width: 576px) {
      max-width: none;
    }
    &:nth-child(1) {
      text-align: start;
    }
    &:nth-child(2) {
      text-align: end;
    }
  }
  & a {
    color: $accentColor;
    font-weight: 800;
    text-decoration: underline;
  }
}
