#loader {
  min-height: -webkit-fill-available;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #ede0d4;
  z-index: 1;
  height: calc(100% + $safe_area_inset_top);
  width: 100%;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
  & circle {
    stroke: #2a201e;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
