.menu {
  min-height: -webkit-fill-available;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #2a201e;
  z-index: 1;
  height: calc(100% + $safe_area_inset_top);
  opacity: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  & .list_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    & a {
      color: #ede0d4;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      text-align: left;
    }
    & li {
      opacity: 0;
      transition: clip-path 0.5s ease-out,
        letter-spacing 0.2s cubic-bezier(0.21, 1.06, 0.91, 0.63),
        color 0.3s ease-out;

      @media screen and (min-width: 1224px) {
        &:hover {
          letter-spacing: 0.5px;
          color: #ddb892;
        }
      }
    }
  }
  & .socials_links {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    gap: 6px;
    & li a {
      color: #785436;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
  & .email_links {
    margin-top: 60px;
    & a {
      color: #ede0d4;
      font-size: 18px;
    }
  }
}

.menu_container {
  width: 100%;
  height: 100%;
  padding: 44px 26px;
  margin-top: 60px;
  @media screen and (min-width: 576px) {
    margin-top: 83px;
  }
}

.menu_active {
  color: #ddb892;
}

