.menu {
  min-height: -webkit-fill-available;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #2a201e;
  z-index: 1;
  height: calc(100% + $safe_area_inset_top);
  opacity: 0;
  & ul {
    margin-top: 60px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 18px;
    padding: 44px 26px;
    & li {
      opacity: 0;
      transition: clip-path 0.5s ease-out;
    }
  }
  & a {
    color: #ede0d4;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 58px;
    text-align: left;
    color: #ede0d4;
  }
}
