.menu {
  height: -webkit-fill-available;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #2a201e;
  z-index: 1;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  & a {
    color: #ede0d4;
  }
}
